@{
    ViewData["Title"] = "News Rss feed";
}
@model ReadRssFeedNewsDetailsViewModel

@if (Model.RssFeedItem != null)
{
    <input type="button" value="Back" onclick="window.history.back()" />

    <div class="about-us container">
        <div class="row">
            <div class="span10 offset1 ">

                <h4>@Model.RssFeedItem.Title</h4>
                <p>Published On: @Model.RssFeedItem.PublishingDate</p>
                <p>@Model.RssFeedItem.Description</p>
                <p>Read more about this article below:</p>
                <a href="@Model.RssFeedItem.Link" target="_blank">@Model.RssFeedItem.Link</a>

            </div>
        </div>
    </div>
}